.basic-container {
    background: url('./../../assets/img-1.png') center center/cover no-repeat;
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .basic-container > h1 {
    color: #fff;
    font-size: 7rem;
    margin-top: -7rem;
  }
  
  .basic-container > p {
    margin-top: .5rem;
    color: #fff;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .basic-btns {
    margin-top: 2rem;
  }
  
  .basic-btns .btn {
    margin: 6px;
  }
  
  @media screen and (max-width: 960px) {
    .basic-container > h1 {
      font-size: 4.5rem;
      margin-top: -9.5rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .basic-container > h1 {
      font-size: 2.5rem;
      margin-top: -6rem;
    }
  
    .basic-container > p {
      font-size: 1.8rem;
    }
  
    .btn {
      width: 100%;
    }
  }