.select {
  height: 1rem;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  font-size: 19px;
  color: #fff;
}

select {
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border-radius: 6px;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  color: #fff;
  cursor: pointer;
}

select:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  border-radius: 6px;
}

.links-mobile {
  display: block;
  text-align: center;
  margin: 1rem auto;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
}
